/* General page styling */
body {
    background: linear-gradient(#130057, #344CB7, #577BC1);
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container styling */
.container {
    max-width: 700px;
    width: 600%;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(4, 80, 180, 0.7); }
    70% { box-shadow: 0 0 0 20px rgba(0, 123, 255, 0); }
    100% { box-shadow: 0 0 0 0 rgba(0, 123, 255, 0); }
}

/* Header styling */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    max-width: 60px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #4a4a4a;
}

/* Form styling */
form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
}

/* Input box styling */
.input-box {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-box label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-box input,
.input-box select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    color: #495057;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-box input:focus,
.input-box select:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(3, 121, 248, 0.8);
}

/* Remove default number input appearance */
input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-moz-inner-spin-button,
input[type="number"]::-moz-outer-spin-button {
    display: none;
}

/* Submit button styling */
button {
    background-color: #2672e2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Result box styling */
.result-box {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
}

.result-text {
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #1eaf4a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s;
}

.button:hover {
    background-color: rgb(44, 172, 44);
    transform: scale(1.05);
}

.button:active {
    background-color: #02315d;
    transform: scale(0.95);
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    animation: slideIn 0.5s;
    border-radius: 5px;
}

@keyframes slideIn {
    from { margin-top: -300px; opacity: 0; }
    to { margin-top: 15%; opacity: 1; }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-btn {
    background-color: #0565ca;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.modal-logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 100px;
    border-radius: 50%;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Additional info styling */
.additional-info {
    font-size: 17px;
    color: #000000;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.8;
    border-radius: 15px;
    padding: 10px;
    background-color: #ffa79c;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.visible .additional-info {
    opacity: 1;
}
